In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
resumeData = pd.read_csv('ResumeDataSet.csv')
original_len = len(resumeData)
original_len

966

In [3]:
resumeData

           Category                                             Resume
0      Data Science  Skills * Programming Languages: Python (pandas...
1      Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2      Data Science  Areas of Interest Deep Learning, Control Syste...
3      Data Science  Skills Ã¢Â€Â¢ R Ã¢Â€Â¢ Python Ã¢Â€Â¢ SAP HANA ...
4      Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..              ...                                                ...
961         Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...
962  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...
963  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...
964  Java Developer  S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 ...
965  Java Developer  S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 ...

[966 rows x 2 columns]

In [4]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http[\S+\s]*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
    
resumeData['cleaned_resume'] = resumeData.Resume.apply(lambda x: cleanResume(x))
resumeData['cleaned_resume'] = resumeData['cleaned_resume'].str.lower()

In [5]:
resumeData

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may 2013 to may 2017 b e uit...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas of interest deep learning control system...
3,Data Science,Skills Ã¢Â€Â¢ R Ã¢Â€Â¢ Python Ã¢Â€Â¢ SAP HANA ...,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...
...,...,...,...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp 7 8 8 1 10 database my...
962,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...",mustafa officewala room no 13 jaya apartment t...
963,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...",mustafa officewala room no 13 jaya apartment t...
964,Java Developer,S A R T H A K C H A U H A N + 9 1 - 7 9 9 0 ...,s a r t h a k c h a u h a n 9 1 7 9 9 0 2 0 3 ...
965,Java Developer,S A R T H A K C H A U H A N + 9 1 - 7 9 9 0 ...,s a r t h a k c h a u h a n 9 1 7 9 9 0 2 0 3 ...

In [6]:
import nltk

In [7]:
from nltk.corpus import stopwords

In [8]:
stopword_list = set(stopwords.words('english')+['``',"''"])
print(stopword_list)

{'over', 'no', 'whom', 'why', 'is', "you'll", 'did', 'haven', 'under', 'hers', 'some', 'o', 'those', 'where', "wouldn't", 'that', 'these', 'be', 'a', 'themselves', 'an', 'them', "hadn't", 'against', "needn't", "hasn't", 'she', 'myself', 'been', 'hasn', 'while', 'it', 'both', 'having', 'its', 'ours', 'until', 'wouldn', 'yourselves', 'here', 'ourselves', 'from', 'isn', 'further', 'and', '``', 'up', 'just', 'own', "mightn't", 'doesn', 'nor', 'mightn', 'before', 'what', 'i', 'once', 'how', 'by', "wasn't", 'd', 'because', "you're", 'ain', 'herself', 'couldn', 'only', 'out', "won't", 'weren', 'me', "shouldn't", 'most', 'more', 'we', "weren't", 'through', "''", 'during', 'won', 'mustn', 've', "shan't", 'into', 'was', 'all', 'were', 'or', 'your', 'needn', "isn't", 'same', 'they', 'shan', 'her', 'again', 'after', 'being', 'yours', 'of', "mustn't", "doesn't", 'm', "should've", 'not', 'do', 'don', 'to', 'yourself', 'when', 'are', "you'd", 'so', 'itself', 'each', 'with', 'have', 'ma', 'in', 'then', 'than', 'does', 'he', "you've", 'who', 'this', 'am', 't', 'below', 'y', 'didn', 'has', 'between', 'few', 'himself', 'theirs', "that'll", 'on', 'should', 'at', 'll', 'their', 'his', 'any', "haven't", 'aren', "didn't", 'above', 'which', "it's", 'too', 'hadn', 'such', 'our', 'as', 'now', "don't", 'had', 's', "aren't", 'but', 'there', 're', 'about', 'for', "couldn't", "she's", 'you', 'off', 'if', 'other', 'my', 'him', 'very', 'can', 'doing', 'will', 'shouldn', 'the', 'down', 'wasn'}

In [9]:
resumeData.cleaned_resume=resumeData.cleaned_resume.apply(lambda x : " ".join(x for x in x.split() if x not in stopword_list))
resumeData['cleaned_resume'][5]

'skills c basics iot python matlab data science machine learning html microsoft word microsoft excel microsoft powerpoint recognition academic secured first place b tech education details august 2014 may 2018 b tech ghatkesar andhra pradesh aurora scientific technological institute june 2012 may 2014 secondary education warangal telangana sr junior college data science skill details ms office exprience less 1 year months c exprience less 1 year months machine learning exprience less 1 year months data science exprience less 1 year months matlab exprience less 1 year monthscompany details company description'

In [10]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
from nltk import tokenize
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import WordNetLemmatizer

In [12]:
resumeData['cleaned_resume']=resumeData.cleaned_resume.apply(word_tokenize)

In [13]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [15]:
lemmatizer=WordNetLemmatizer()
resumeData['cleaned_resume']=resumeData.cleaned_resume.apply(lambda x:[lemmatizer.lemmatize(word) for word in x])
resumeData

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,"[skill, programming, language, python, panda, ..."
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,"[education, detail, may, 2013, may, 2017, b, e..."
2,Data Science,"Areas of Interest Deep Learning, Control Syste...","[area, interest, deep, learning, control, syst..."
3,Data Science,Skills Ã¢Â€Â¢ R Ã¢Â€Â¢ Python Ã¢Â€Â¢ SAP HANA ...,"[skill, r, python, sap, hana, tableau, sap, ha..."
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...","[education, detail, mca, ymcaust, faridabad, h..."
...,...,...,...
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,"[skill, set, o, window, xp, 7, 8, 8, 1, 10, da..."
962,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...","[mustafa, officewala, room, 13, jaya, apartmen..."
963,Java Developer,"Mustafa Officewala Room no.13, Jaya Apartment,...","[mustafa, officewala, room, 13, jaya, apartmen..."
964,Java Developer,S A R T H A K C H A U H A N + 9 1 - 7 9 9 0 ...,"[r, h, k, c, h, u, h, n, 9, 1, 7, 9, 9, 0, 2, ..."
965,Java Developer,S A R T H A K C H A U H A N + 9 1 - 7 9 9 0 ...,"[r, h, k, c, h, u, h, n, 9, 1, 7, 9, 9, 0, 2, ..."

In [16]:
resumeData.cleaned_resume= resumeData.cleaned_resume.astype(str)
cleaned_resume_list=resumeData['cleaned_resume'].array
cleaned_resume_list.shape

(966,)

In [17]:
x = resumeData.iloc[:,1].values
y = resumeData.iloc[:,0].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size=0.03)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
final = Pipeline([('Vect',TfidfVectorizer()), ('model',SVC(probability=True))])
final.fit(x_train,y_train)

Pipeline(steps=[('Vect', TfidfVectorizer()), ('model', SVC(probability=True))])

In [19]:
y_pred=final.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

1.0

In [21]:
final.predict([x_test[1]])

array(['Health and fitness'], dtype=object)

In [22]:
pip install pdfminer.six

Requirement already satisfied: pdfminer.six in c:\users\hp\anaconda3\lib\site-packages (20221105)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from pdfminer.six) (2.0.4)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\hp\anaconda3\lib\site-packages (from pdfminer.six) (37.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\hp\anaconda3\lib\site-packages (from cryptography>=36.0.0->pdfminer.six) (1.15.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [23]:
# import pdfminer
from pdfminer.high_level import extract_text

In [24]:
text = extract_text('example.pdf')
lines = text.split('\n') # Split text into lines
lines = [line.strip() for line in lines if line.strip()] # Remove empty lines and leading/trailing spaces
text = ' '.join(lines) # Join lines with space separator
print(text)

S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 2 0 3 6 7 7 s a r t h a k c h a u h a n 5 7 9 @ g m a i l . c o m L i n k e d I n   P r o f i l e L e e t c o d e   P r o f i l e . E D U C A T I O N Sardar Vallabhbhai National Institute of Technology , Surat. (NIT Surat) B.Tech In Computer Science and Engineering.  CGPA - 8.75 Kendriya Vidyalaya, Vadodara. CBSE Class - 12th.  Score - 92.6% Kendriya Vidyalaya, Shillong. CBSE Class - 10th.  Score - 92% 2020 - 2024 March 2020 March  2018 S K I L L S Languages: C, C++, Python, JavaScript. (DSA in C++). Web Development: MERN Stack (MongoDB, Express Server, React.js, Node.js) Developer Tools and Technologies: jQuery, Bootstrap, Github, and EJS. Core Subjects: Operating Systems, Computer Networks, DBMS, and OOPS. P R O F I L E S : Solved 350+ questions on leetcode with >75% of them in medium and hard categories. link. 600+ coding score on geeksforgeeks practice platform - link. P R O J E C T S : Auction E-Comm Website -  Bringing skilled local artisans online. Oct 22 Team project in MERN Stack + Firebase (Node.js, Express, React, MongoDB, and Firebase) Complete E-Commerce Website with Admin Dashboard, Cart, Payment, Authentication, etc. Real-time auction and self-implemented recommendation system. 3 min Video Demonstration (All India Rank-9 in National Youth Conclave Hackathon IIT-J). Resume Screener - AI and ML (NLP), Flask and JavaScript. Upload your resume and know the most suitable job. Recommends the best job using an AI Model that's trained for Natural Language. Attendance  Tracker - MongoDB, Express, React.js, and Node.js. Apr 23 Feb 23 Attendance made easy. Mark attendance of students with just one click. Features: Pie and Bar Charts to show attendace, nodemailer, both for Admin and students. T E A M W O R K   E X P E R I E N C E : Dec 2021-Mar 2022 Bluelearn - A student community funded by Titan Capitals and others. Worked directly under the founder featured in Forbes 30 under 30. Assisted them in changing to a new dark theme UI (Currently in use) Community size is increased by 110% to 100K+ after changing to the new UI. A C H I E V E M E N T S   A N D   I N T E R E S T S : All India Rank 9 in Youth Conclave National Hackathon held in IIT-Jodhpur. Participated in a national-level Inter-NIT football tournament held in NIT-Rourkela. Freelance work in UI Designing with 5+ clients. - My LinkedIn recommendations. 2 consecutive posts on linkedin about UI got 1 Million+ views - Post link.

In [25]:
cleaned_text = text.lower()
cleaned_text = cleanResume(cleaned_text)
print([cleaned_text])

['s a r t h a k c h a u h a n 9 1 7 9 9 0 2 0 3 6 7 7 s a r t h a k c h a u h a n 5 7 9 g m a i l c o m l i n k e d i n p r o f i l e l e e t c o d e p r o f i l e e d u c a t i o n sardar vallabhbhai national institute of technology surat nit surat b tech in computer science and engineering cgpa 8 75 kendriya vidyalaya vadodara cbse class 12th score 92 6 kendriya vidyalaya shillong cbse class 10th score 92 2020 2024 march 2020 march 2018 s k i l l s languages c c python javascript dsa in c web development mern stack mongodb express server react js node js developer tools and technologies jquery bootstrap github and ejs core subjects operating systems computer networks dbms and oops p r o f i l e s solved 350 questions on leetcode with 75 of them in medium and hard categories link 600 coding score on geeksforgeeks practice platform link p r o j e c t s auction e comm website bringing skilled local artisans online oct 22 team project in mern stack firebase node js express react mongodb and firebase complete e commerce website with admin dashboard cart payment authentication etc real time auction and self implemented recommendation system 3 min video demonstration all india rank 9 in national youth conclave hackathon iit j resume screener ai and ml nlp flask and javascript upload your resume and know the most suitable job recommends the best job using an ai model that s trained for natural language attendance tracker mongodb express react js and node js apr 23 feb 23 attendance made easy mark attendance of students with just one click features pie and bar charts to show attendace nodemailer both for admin and students t e a m w o r k e x p e r i e n c e dec 2021 mar 2022 bluelearn a student community funded by titan capitals and others worked directly under the founder featured in forbes 30 under 30 assisted them in changing to a new dark theme ui currently in use community size is increased by 110 to 100k after changing to the new ui a c h i e v e m e n t s a n d i n t e r e s t s all india rank 9 in youth conclave national hackathon held in iit jodhpur participated in a national level inter nit football tournament held in nit rourkela freelance work in ui designing with 5 clients my linkedin recommendations 2 consecutive posts on linkedin about ui got 1 million views post link ']

In [26]:
predicted=final.predict([cleaned_text])
print(predicted)
predict = ''.join(predicted)
print(predict)

['Java Developer']
Java Developer

In [27]:
import csv
with open('ResumeDataSet.csv', 'a') as file:
    writer = csv.writer(file)
    data = [predict, text]  # List of values to append
    writer.writerow([data[0],data[1]])
file.close()  # Close the file

In [28]:
data1 = [predict,text,cleaned_text]
new_row = pd.DataFrame([data1], columns=resumeData.columns)
resumeData = resumeData.append(new_row, ignore_index=True)
print(resumeData)

           Category                                             Resume  \
0      Data Science  Skills * Programming Languages: Python (pandas...
1      Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2      Data Science  Areas of Interest Deep Learning, Control Syste...
3      Data Science  Skills Ã¢Â€Â¢ R Ã¢Â€Â¢ Python Ã¢Â€Â¢ SAP HANA ...
4      Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..              ...                                                ...
962  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...
963  Java Developer  Mustafa Officewala Room no.13, Jaya Apartment,...
964  Java Developer  S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 ...
965  Java Developer  S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 ...
966  Java Developer  S A R T H A K   C H A U H A N + 9 1 - 7 9 9 0 ...

                                        cleaned_resume
0    ['skill', 'programming', 'language', 'python',...
1    ['education', 'detail', 'may', '2013', 'may', ...
2    ['area', 'interest', 'deep', 'learning', 'cont...
3    ['skill', 'r', 'python', 'sap', 'hana', 'table...
4    ['education', 'detail', 'mca', 'ymcaust', 'far...
..                                                 ...
962  ['mustafa', 'officewala', 'room', '13', 'jaya'...
963  ['mustafa', 'officewala', 'room', '13', 'jaya'...
964  ['r', 'h', 'k', 'c', 'h', 'u', 'h', 'n', '9', ...
965  ['r', 'h', 'k', 'c', 'h', 'u', 'h', 'n', '9', ...
966  s a r t h a k c h a u h a n 9 1 7 9 9 0 2 0 3 ...

[967 rows x 3 columns]

In [29]:
resumeData.columns

Index(['Category', 'Resume', 'cleaned_resume'], dtype='object')

In [30]:
len(resumeData)

967

In [31]:
import csv
with open('ResumeDataSet.csv', 'a') as file:
    for x in range(original_len, len(resumeData)):
      writer = csv.writer(file)
      data = [resumeData['Category'][x], resumeData['Resume'][x]]  # List of values to append
      writer.writerow([data[0],data[1]])
file.close()  # Close the file
original_len = len(resumeData)

In [32]:
import pickle

In [33]:
pickle.dump(final,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))